.card {
    width: 317px;
    height: 388px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

.card_header {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}

.card_header>.card_header_title {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.card_header>.card_header_title h2 {
    margin: 0;
    color: var(--Secondary-500, #1A202C);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.6px;
}

.card_header>.card_header_title p {
    margin: 0;
    color: var(--Secondary-300, #90A3BF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.28px;
}

.car-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    object-fit: cover;
}

.card-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    color: var(--Secondary-300, #90A3BF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.28px;
    margin-bottom: 20px;
}

.card-details .detail {
    display: flex;
    align-items: center;
}

.detail span {
    margin-right: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.price-value {
    color: var(--Secondary-500, #1A202C);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-day {
    color: var(--Secondary-300, #90A3BF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 3px;
}

.rent-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.rent-button:hover {
    background-color: #0056b3;
}